<div>
<span class="btn btn-danger"> <%=link_to "Suprimé", "/emails/#{email.id}", method: :DELETE, remote: true%></span>

	<% if email.read == true%>

	<span class="btn btn-success"> <%=link_to "Lu", "/emails/#{email.id}", method: :put, remote: true%></span> 
	<% else %>
	<span class="btn btn-warning" style="color:#A647B3;"> <%=link_to "no-lu", "/emails/#{email.id}", method: :put, remote: true%></span> 
	<% end %>
</div>